  body{
    margin: 0;
    padding: 0;
  }

  header{
    height: 68px;
    background-color: #CA0007;
    line-height: 23px;
  }

  ul, li {
      margin: 0;
      padding: 0;
  }

  #logo{
    color: #FFF;
    float: left;
    margin: 23px 165px;
    font-size: 34px;
  }

  #menu{
    color: #FFF;
  }

  #menu li{
    display: inline-block;
    padding: 23px 42px;
    font-size: 16px;
  }

  #gallery{
  background-color: #66CEEC;
  height: 437px;
  position: relative;
  }

  #gallery .pics{
    position: absolute;
    padding: 1px;
  }

  #gallery .bar{
  position: absolute;
  padding: 365px 208px;
  }

  #gallery .bar li {
    display: inline-block;
    border-top: 3px solid #FFF;
    width: 39px;
  }

  #gallery .bar li.current{
  border-color: #CA0007;
  width: 39px;
  }

  #middle ul{
    margin-left: 165px;
  }

  #middle li{
    display: inline-block;
    background: #0CF;
    border-radius: 100%;
    height: 150px;
    width: 150px;
    margin: 52px 46px;
  }

  #middle .link li.one{
    background-color: #CA0007;
  }

  #conter {
    width: 100%;
    height: 300px;

    background-color: #0CF;
  }

  #conter .new{
    float: left;
    display: inline-block;
    background-color: #CA0007;
    height: 277px;
    width: 292px;
    margin: 21px 166px;
  }

  #conter .company {
    float: left;
    display: inline-block;
    background-color: #CA0007;
    height: 278px;
    width: 441px;
    margin: 21px -142px;

  }

  #conter .company p {
    text-align:left;

  }

  #conter .pics {
    float: left;
    display: inline-block;
    background-color: #CA0007;
    height: 278px;
    width: 186px;
    margin: 21px 167px;
  }

  #picter_list{
    background-color: #0CF;
    margin: 36px 0px;
    height: 310px;
    width: 100%;
  }

  #link{
    background-color: #0CF;
    margin: 10px 0px;
    height: 100px;

  }

  #fooder{
    background-color: black;
    margin: 20px 0px;
    height: 100px;
  }
