  body{
    margin: 0;
    padding: 0;
  }

  header{
    height: 68px;
    background-color: #CA0007;
    line-height: 23px;
  }

  ul, li {
      margin: 0;
      padding: 0;
  }

  #logo{
    color: #FFF;
    float: left;
    margin: 23px 165px;
    font-size: 34px;
  }

  #menu{
    color: #FFF;
  }

  #menu li{
    display: inline-block;
    padding: 23px 42px;
    font-size: 16px;
  }

  #menu li a{
    color: #FFF;
    text-decoration: none;
  }

  #menu li:hover a {
    text-decoration: underline;
    color: #CA0007;
  }

  #menu li:hover  {
    background-color: #FFF;
  }

  #gallery{
  background-color: #66CEEC;
  height: 437px;
  position: relative;
  }

  #gallery .pics{
    position: absolute;
    padding: 1px;
  }

  #gallery .pics img{
    width: 1301px;
    height: 435px;
  }

  #gallery .bar{
  position: absolute;
  padding: 365px 208px;
  }

  #gallery .bar li {
    display: inline-block;
    border-top: 3px solid #FFF;
    width: 39px;
  }

  #gallery .bar li.current{
  border-color: #CA0007;
  width: 39px;
  }


  #middle{
    width: 100%;
    height: 300px;
    display: inline-block;
  }

  #middle .first{
    float: left;
    background-color: #E54A4A;
    color: #FFF;
    border-radius: 100%;
    height: 150px;
    width: 150px;
    margin-left: 211px;
    margin-top: 52px;
    text-align: center;
    vertical-align: middle;
  }

  #middle  .pic1{
    margin-top: 20px;
  }

  #middle .second{
    float: left;
    background-color: #E4AFAF;
    border-radius: 100%;
    color: #FFF;
    height: 150px;
    width: 150px;
    margin-left: 110px;
    margin-top: 52px;
    text-align: center;
  }

  #middle .three{
    float: left;
    background-color: #4C90C8;
    border-radius: 100%;
    color: #FFF;
    height: 150px;
    width: 150px;
    margin-top: 52px;
    margin-left: 118px;
    text-align: center;
  }
  #middle .four{
    float: right;
    background-color: #64C9CD;
    border-radius: 100%;
    color: #FFF;
    height: 150px;
    width: 150px;
    margin-top: 52px;
    margin-right: 177px;
    text-align: center;
  }


  #conter {
    width: 100%;
    height: 300px;
    background-color: #FFF;
    padding-top: 21px;
  }

  #conter .title{
    margin-left: 166px;
    margin-top: 3px;
    font-size: 23px;
  }
  #conter .new{
    float: left;
    display: inline-block;
    height: 277px;
    width: 292px;
    margin-left: 167px;
  }

  #conter .new img{
    width: 292px;
    height: 225px;
    margin-top: 16px;

  }

  #conter .title_two li{
    display: inline-block;

  }
  #conter .title_two{
    float: left;
    margin-left: 346px;
    margin-top: -25px;
  }

  #conter .company {
    float: left;
    width: 460px;
    height: 270px;
    margin-left: 23px;
  }

  #conter .company .first ul {
    list-style: none;
  }

  #conter .company .first{
    float: left;
    margin-left: 10px;
    margin-top: 12px;
  }

  #conter .company .second{
    float: left;
    margin-left: 26px;
  }





  #conter .pics {
    float: right;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    list-style: none;
    color: #FFF;
    height: 278px;
    width: 205px;
    margin-right: 127px;
  }

  #conter .pics i{
    margin-top: 12px;
  }
  #conter .pics .first{
    background-color: #CF42ED;
    width: 205px;
    height: 57px;
    margin-top: -26px;
    vertical-align: middle;
  }

  #conter .pics .second{
    background-color: #E7E6CA;
    width: 205px;
    height: 57px;
    margin-top: 12px;
  }
  #conter .pics .three{
    background-color: #4FEAE4;
    width: 205px;
    height: 57px;
    margin-top: 14px;
  }
  #conter .pics .four{
    background-color: #B89FB7;
    width: 205px;
    height: 57px;
    margin-top: 13px;
  }


  #picter_list{
    background-color: #E9F2F4;
    margin: 73px 0px;
    height: 390px;
    width: 100%;
  }

  #picter_list .title{
    margin-left: 165px;
    margin-top: 11px;
    font-size: 22px;
  }

  #picter_list .pic{
    list-style: none;
    margin-left: 168px;
    margin-top: 23px;
  }

  #picter_list .pic ul{
    list-style: none;
  }

  #picter_list .pic li{
    display: inline-block;
    margin-right: 8px;
    margin-top: 1px;
  }

  #picter_list .pic img{
    width: 326px;
    height: 164px;
    border: 1px solid #aaa;
  }
  #link{
    background-color: #F3F9FA;
    margin: -25px 0px;
    height: 100px;
  }

  #link .title{
    margin-left: 171px;
    font-size: 20px;
  }

  #link .pic{
    margin-left: 166px;
  }
  #link .pic li{
    display: inline-block;
  }

  #link .pic img{
    width: 143px;
    height: 50px;
    margin-top: 19px;
    margin-right: 27px;
  }


  #fooder{
    margin: 90px 0px 0px;
    background-color: #101718;
    height: 83px;
  }

  #fooder .header ul{
    margin-left: 414px;
  }
  #fooder .header li{
    display: inline-block;
    font-size: 14px;
    color: #FFF;

  }

  #fooder .food{
    margin-left: 518px;
    color: #FFF;
    margin-top: 32px;
  }
